* {
    margin: 0;
    padding: 0;
}

header {

    width: 90%;

    margin: auto;

    display: flex;

    justify-content: space-between;

    padding: 20px 0;

    align-items: center;
}

.logo {

    width: 20%;
}

.logo img {}

.menu {

    width: 40%;
}

.menu ul {

    display: flex;

    list-style: none;

    justify-content: end;
}

.menu ul li {

    margin-left: 30px;
}

.menu ul li a {

    text-decoration: none;

    text-transform: uppercase;

    color: #2d3950;

    font-size: 16px;
}

.banner {
    background-image: url(../images/banner.jpg);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner_contect {

    width: 33%;

    text-align: center;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);
}

.banner_contect h1 {

    text-transform: uppercase;

    font-size: 90px;

    color: white;

    margin-bottom: 15px;
}

.banner_contect span {

    display: block;

    height: 2px;

    width: 100%;

    background: #14a4fa;
}

.banner_contect p {

    color: white;

    margin: 15px 0 30px 0;
}

.banner_contect button {

    background: transparent;

    border: none;

    border: 1px solid #15a4fa;

    text-transform: capitalize;

    padding: 15px 30px;

    border-radius: 3px;

    color: white;

    transition: .5s all ease-in-out;
}

.banner_contect button:hover {
    background-color: #15a4fa;

}

.icon {

    position: absolute;

    bottom: 50px;

    left: 50%;

    transform: translate(-50%, 0px);

    color: white;

    font-size: 20px;

    animation: updown 1s linear infinite;
    animation-direction: alternate;
}

@keyframes updown {
    0% {
        bottom: 70px;
    }

    100% {
        bottom: 40px;
    }
}

.simple_section {

    background: #f6f9f9;

    padding: 50px 0;
}

.simple_contect {

    width: 80%;

    margin: auto;

    text-align: center;
}

.simple_contect h2 {

    font-size: 35px;

    font-weight: 300;

    color: #2d3950;
}

.simple_contect p {

    margin-top: 15px;

    color: #999999;
}

.feature_section {

    padding: 50px 0;

    width: 80%;

    margin: auto;

    display: flex;

    justify-content: space-between;
}

.feature_item {

    width: 30%;

    text-align: center;
}

.feature_icon_box {

    height: 80px;

    width: 80px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,5fc3ff+50,48baff+50,5fc3ff+100 */
    background: #48baff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #48baff 0%, #5fc3ff 50%, #48baff 50%, #5fc3ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #48baff 0%, #5fc3ff 50%, #48baff 50%, #5fc3ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #48baff 0%, #5fc3ff 50%, #48baff 50%, #5fc3ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48baff', endColorstr='#5fc3ff', GradientType=1);
    /* IE6-9 */


    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 35px;

    color: white;

    margin: auto;
}

.feature_item h3 {

    margin: 15px 0 10px 0;
}

.feature_item p {}

.gallery_section {

    background: #f6f9f9;

    padding: 100px 0;
}

.gallery_content {

    width: 80%;

    margin: auto;
}

.gallery_heading {

    text-align: center;

    margin-bottom: 50px;
}

.gallery_heading h2 {}

.gallery_heading p {

    margin: 10px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery_item {
    width: 32%;
    margin-bottom: 20px;
    position: relative;
}

.gallery_item img {
    width: 100%;
}

.gallery_item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #14a4fa;
    opacity: .5;
    transition: .4s all ease-in-out;
}

.gallery_item:hover::after {
    width: 100%;
}